li{display:inline;decoration:none;padding-right:15px;}

a{color:#000;}
a:hover{#DF0101;}

h2{font-family: 'Fontdiner Swanky', cursive;}


h1 { 
color:#000;
   position: absolute; 
   top: -1px; 
   left: 82px; 
   width: 100%; 
    font-family: 'Fontdiner Swanky', cursive;
text-shadow: #fff 1px 2px 1px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   left:10px;
}


a:hover{ text-shadow: red 1px 2px 1px 5px;text-decoration:none;}



.carousel-inner > .item > img {
    margin: 0 auto;
}

col{margin-right:0px;}


h3{size:12px;font-family: 'Fontdiner Swanky',cursive ;}



.table-nonfluid {
   width: auto !important;
}
tr,td,th{width:300px;}

.carousel-caption
{
size:30px;font-family: 'Fontdiner Swanky',cursive ;
}



.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 30px; 
   left: 70; 
   width: 100%; 
}

h3{position:relative;
left:30px;}


h2 span { 
   color: white; 
 font-family: 'Fontdiner Swanky',cursive
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 0px; 
}




@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #d80041 url('images/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #d80041;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #d80041;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}


h1 h2 h3{color:#747474}

.list-group{width:300px;padding-bottom:0px;}

.carousel .slide{padding-top:40px;}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  .top-buffer {padding-top:30px; margin-top:20px; }

#morenav{border-right: solid 1px #ccc;border-top: solid 1px #ccc;border-bottom: solid 1px #ccc;}


#chart{display:block;}








#cookiesWarning {
	
}

#cookiesWarningActive {
	background: #FFF;
	margin: 5px;
	padding: 5px;
	box-shadow: 8px 8px 4px #999;
	border-radius: 7px;
}

#cookiesWarningActive small {
	background: #FA5528;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	color: #fff;
	border: none;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #233e5b;
}

#readMoreURL  a:link {
	text-decoration: underline;
	color: #000;
}
#readMoreURL  a:visited {
	text-decoration: underline;
	color: #000;
}
#readMoreURL  a:hover {
	text-decoration: none;
	color: #FA5528;
}

#text {
	
}

#warning {
	
}

#cookiesDisabled {
	
}

.checkbox {
	
}

.acceptance {
	padding-left: 10px;
	padding-right: 10px;
}

.button {
	
}
.adminlogin{padding-left:10px;margin-left:10px;}
 div.c8 {border: 1px solid #E4E4E4;width:100%;background: rgba(27, 25, 24, 0.8);left:20px;}
 div.c7 {border-color:#E4E4E4;border: 1px solid #E4E4E4;}
 li.c6 {display:block;padding-bottom:10px;box-shadow:#ccc 1px 1px 1px;}
 li.c5 {display:block;padding-bottom:10px;background-color:#ccc;box-shadow:#ccc 1px 1px 1px;}
 div.c4 {box-shadow: inset 1px 1px 1px 1px;}
 div.c3 {box-shadow: #ccc 1px 1px 1px;}
 li.c2 {display:block;}
 div.c1 {background-color:#F2F2F2;padding-left:100px;}
 h6{font-family:arial;font-size:40px;}
 div.c12{padding-top:300px;}
 div.c10{background: rgba(48, 60, 65, 0.8);width:80%;}
 div.c20{border-color: solid 1px #FAFAFA}
 div.header{padding-left:-10px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;}
 div.slideshow{margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;}
 div.vinyl{margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;}
 div.dvd{margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;}
div.item active{height:500px;}
.peopleCarouselImg img {
  width: 100%;
  height: 350px;
  max-height: 350px;
}
.recordplayer{padding-top:20px;}
.vinyl{padding-top:-300px;}
.dvd{padding-top:-300px;}
.albums{background-color:#FAFAFA;box-shadow:#E6E6E6 1PX 1px 1px 1px;}
.charts{background: rgba(48, 60, 65, 0.8););
;box-shadow:#E6E6E6 1PX 1px 1px 1px;}
 .footer{background: rgba(27, 25, 24, 0.8);box-shadow:#E6E6E6 1PX 1px 1px 1px;padding-left:auto;padding-right:auto;margin-right:auto;margin-left:auto;left:100px;}
 .slideshow{background-color:#FAFAFA;  

	box-shadow:#E6E6E6 1PX 1px 1px 1px;height:80%;left:14px;padding-top:px;padding-bottom:0px;}
 .header{background-color:#E6E6E6;box-shadow:#E6E6E6 1PX 1px 1px 1px;}
 .cd-list{background:#ccc;
	box-shadow:#E6E6E6 1PX 1px 1px 1px; }
 .about{padding-bottom:100px;left:200px;}
 .desc{top:100px;background-color:#E6E6E6;border-radius:4px;left:px;box-shadow:#BDBDBD 1PX 1px 1px 1px;color:#000;}
 .aboutimage{top:300px;right:40px;}
body{background:url('../images/background2.png') center center no-repeat;background-attachment: fixed;} 
.sidenav{background: rgba(48, 60, 65, 0.8);;right:15px;}
.block{}
.chart-image{opacity: 1.0;
    filter: alpha(opacity=60);}
	.vinyl-chart{opacity: 1.0;
    filter: alpha(opacity=60);
	}
	.dvd-chart{opacity: 1.0;
    filter: alpha(opacity=60);
	}
	.snav{color:#fff;}

	
	h6{color:#fff;}

	.adminform{background: rgba(48, 60, 65, 0.8);float:right;border-radius:2px;}
	.footer-text{color:#fff;}
	.form-group{border-radius:3px;}
	.controlpanel{background: rgba(27, 25, 24, 0.9);right:150px;bottom:100px;}
	.addproduct{color:#fff;}
	.removeproduct{color:#fff;}
	.remove_product_image{right:200px;}
	.add_product_image{right:100px; 
}
	
	
	
.add_product_form{color:#fff;}
.add_product_form_input{color:#000;}
.openingtimes{float:right;left:100px;}
.returnspolicy{color:#fff;background: rgba(27, 25, 24, 0.9);}
.h2{padding-left:10px;}
.aboutheading{color:#fff;text-shadow: #000 1px 1px 1px;}
.checkout{color:#fff;background: rgba(27, 25, 24, 0.9);}
p{color:#fff;}
.opening_times{float:right;background: rgba(48, 60, 65, 0.8);color:#fff;width:250px;bottom:px;border-radius:3px;border: 1px solid #fff;}
.remove_product_table{background-color:#fff;}
.header{background: rgba(185, 185, 185, 0.8);}
.cart{color:#fff;}
.sidenav_about{right:50px;background: rgba(48, 60, 65, 0.8);}
.controlpanel_main{background: rgba(48, 60, 65, 0.8);left:15px;}