.jumbotron{box-shadow: 0px 0px 5px #000;border-radius:4px ;box-shadow: inset 0 0 10px #000000;background-color: black;
  background-image:
    linear-gradient(
       to bottom,
      #ccc,
      #505050 50%
    );
}



@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

.footer{width:80%;height:40px;background-color:#ccc;radius:4px;left:500px;}
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
p{font-family: 'Arimo', sans-serif;}
a{font-family: 'Arimo', sans-serif;}
h1{font-family: 'Ubuntu', sans-serif;}
h2{font-family: 'Arimo', sans-serif;}
h3{font-family: 'Arimo', sans-serif;color:#fff;}
li{font-family: 'Arimo', sans-serif;}
footer {
    position:;
    height: 100px;
    bottom: -120px;
    width: 1320px;
	background-color:#303030 ;
	border-radius:4px;
	float:left;

	
	color:#000;
	margin-left:auto;
	margin-right:auto;
	 box-shadow:inset 0 0 10px #000000
}
img {
    opacity: 1.0;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity: 0.4;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
a{color:#fff;}
{
#wrapper{position:relative;top:5000px}
.navbar-nav > li{padding-left:0px;padding-right:0px;}

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
#portfolio{background-color:#ccc;}

 


}
.navbar{background-color: black;
  background-image:
    linear-gradient(
       to bottom,
      #ccc,
      #505050 50%
    );
}




.navbar-default {
	background-color: #808080;
	border-color: #1f1f21;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ff8040;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ff8040;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ff8040;
	background-color: #1f1f21;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ff8040;
	background-color: #1f1f21;
}
.navbar-default .navbar-toggle {
	border-color: #1f1f21;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #1f1f21;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ff8040;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ff8040;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ff8040;
		background-color: #1f1f21;
	}
}




legend{color:##ff8040;}

form{box-shadow: box-shadow: 10px 10px 5px #000;}

body
{
    background-image: url('images/background.png') no-repeat center center; 
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

	
	

